.page-404 {
  padding: 10px 20px;
}

.page-404 a {
  text-decoration: none;
  color: #888;
  display: flex;
  align-items: center;
}

.go-back {
  display: inline-block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url("../../icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
}

.page-404 a:hover {
  text-decoration: underline;
}

.page-404 .lost {
  text-align: center;
}

.page-404 img {
  margin: 0 auto;
  width: min(611px, 100%);
  max-height: calc(100vh - 232px);
  display: block;
}
